@import url(reset.css); /* Reset CSS */

/* BODY ------------------------------------------------------------------ */

body {
    line-height: 1.5;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #000;
    background: none;
    font-size: 10pt;
    word-spacing: 1pt;
}

/* HEADINGS ------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 { font-family: Helvetica, Arial, sans-serif; }

/* TYPOGRAPHY ----------------------------------------------------------- */

code { font: 0.9em Courier, monospace; }

hr {
    background: #CCC;
    color: #CCC;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
}

blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: 0.9em;
}

/* LINKS ---------------------------------------------------------------- */

a:link, a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
}

/* IMAGES & VIDEOS ------------------------------------------------------ */

img {
    float: left;
    margin: 0 1.5em 1.5em 0;
}

/* FORMS ---------------------------------------------------------------- */

/* TABLES --------------------------------------------------------------- */

/* CLASSES -------------------------------------------------------------- */

/* LAYOUT --------------------------------------------------------------- */

#map {
    width: 15.0cm;
    height: 10.0cm;
    border: 1px solid #000;
}

#header, #footer {
    clear: both;
    background: #ddd;
    text-align: center;
    padding: 0.3cm;
}

#header a, #footer a {
    text-decoration: none;
    color: #000;
}

/* NAVIGATION ----------------------------------------------------------- */

#nav { display: none; }