@import "reset.css";
@import "nav.css";
@import "typography.css";
/*@import "forms.css";*/

/* Page
------------------------------------------------------------------------- */
#page { margin: 0 auto; width: 950px; }

/* Header
------------------------------------------------------------------------- */
#header { margin-top: 20px; }

#header .nav { border-bottom: 1px solid #DDD; }
#header .nav li { margin-right: 2px; }
#header .nav a { padding: 5px 15px; background: #DDD; color: #666; text-decoration: none; }

/* Body
------------------------------------------------------------------------- */
#body {  }

/* Footer
------------------------------------------------------------------------- */
#footer {  }

#footer .nav {  }
#footer .nav a {  }

#footer p.quiet {  }