body { font-size: 87.5%; }

/* Standardschriften und -farben. */
body { font-family:; }
h1, h2, h3, h4, h5, h6 { font-family:; }

/* Überschriften
------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight:; }

h1 { font-size:; line-height:; margin-bottom:; }
h2 { font-size:; line-height:; margin-bottom:; }
h3 { font-size:; line-height:; margin-bottom:; }
h4 { font-size:; line-height:; margin-bottom:; }
h5 { font-size:; line-height:; margin-bottom:; }
h6 { font-size:; line-height:; margin-bottom:; }

/* Textelemente
------------------------------------------------------------------------- */
p { margin:; }

ul, ol { margin:; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }

dl { margin:; }
dl dt { font-weight: bold; }
dl dd { margin-left:; }

abbr, acronym { border-bottom:; }
address { margin-top:; font-style:; }
del { color:; }

a { color:; text-decoration:; }
a:hover { text-decoration: underline; }

blockquote { margin:; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin:; white-space: pre; }
pre, code, tt { font:; line-height:; } 

/* Tabellen
-------------------------------------------------------------- */
table { margin-bottom:; }
th { border-bottom:; font-weight:; }
td { border-bottom:; }
th,td { padding:; }
tfoot { font-style:; }
caption { background:; }

/* Standard-Klassen
-------------------------------------------------------------- */
.small { font-size:; margin-bottom:; line-height:; }
.large { font-size:; line-height:; margin-bottom:; }
.quiet { color:; }

.hide { display: none; }
.highlight { background:; }

.top { margin-top:; padding-top:; }
.bottom { margin-bottom:; padding-bottom:; }